.game-list {
  background-color: #181818; /* Dark gray/black */
  color: #fff; /* White text */
  width: 100%;
  padding: 20px;
}

.game-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}