.game-details {
    padding: 20px;
    color: white;
  }
  
  .game-details .row {
    display: flex;
    flex-direction: row;
  }
  
  .game-details .col-md-4 {
    flex: 1;
  }
  
  .game-details .col-md-8 {
    flex: 2;
  }
  
  .game-details .rounded {
    width: 100%;
    border-radius: 5px;
  }
  
  .game-details .list-group-item {
    color: black;
  }
  
  .game-details .btn {
    margin-top: 10px;
  }
  