.popular-games {
    background-color: #181818; /* Dark gray/black */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff; /* White text for better contrast */
  }
  
  .game-card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .game-card-list > .game-card {
    margin: 16px; /* Ensure there is spacing between cards */
  }